body {
    padding-top: 20px;
}
.masthead, .body-content, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
.footer {
    border-top: 1px solid #DDDDDD;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 29px;
}
.jumbotron {
    background-color: transparent;
    text-align: center;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.nav-justified {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    max-height: 50px;
}
.nav-justified > li > a {
    background-color: #E5E5E5;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #E5E5E5 100%);
    background-repeat: repeat-x;
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.nav-justified > .active > a {
    background-color: #DDDDDD;
    background-image: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;
}
.nav-justified > li:first-child > a {
    border-bottom-left-radius: 5px;
    border-left: 0 none;
    border-top-left-radius: 5px;
}
.nav-justified > li:last-child > a {
    border-bottom-right-radius: 5px;
    border-right: 0 none;
    border-top-right-radius: 5px;
}
.masthead, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron{
    margin-bottom: 0px;
    padding: 25px 30px;
}
.alert
{
    position: absolute;
    z-index:10000;
    margin-top:40px;
}
.more-space{
    margin: 20px;
}
.lang-icon{
    font-size: 9px;
}
.tweet:before{
    font-family: FontAwesome;
    content: "\f099";
}
.tweet{
    color: #555555;
}
.tweet-box{
    padding-top: 2px;
}
.hidden-sm{
    display: inline;
}